		body {
			background-color: #eeeeee;
		}

		.delete-note {
			display: inline;
		}

		.margin {
			margin: 10px;
			border-bottom: solid 1px gray;
		}

		.title_div {
			border-bottom: solid 1px gray;
			padding-bottom: 5px;
		}

		.title {
			display: inline-block;
			margin-left: 10px;
		}

		.color_box {
			min-width: 250px;
			min-height: 300px;
			width: 30%;
			margin: 10px;
			border: solid 1px black;
			background-color: #FCF0AD;
			display: inline-block;
			vertical-align: top;
		}

		.del_btn {
			margin: 5px 10px 0 0;
		}

		.text_note {
			width: 90%;
			height:300px;
			display: block;
			margin: 10px auto 10px auto;
			resize: none;
			background-color: #FCF0AD;
		}

		.add_note {
			width: 240px;
			background-color: #FCF0AD;
		}

		.add_description {
			width: 240px;
			height: 200px;
			background-color: #FCF0AD;
		}

		.add_btn {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
		}