.container {
	width: 300px;
}

.inline {
	display: inline-block;
}

.notes-container {
	width: 250px;
	height: 300px;
}

.note-box {
	width: 100%;
	height: 100%;
	border: solid gray 1px;
}

.add-cont {
	width: 100%;
	height: 50px;
	margin-top: 15px;
}

.add-note {
	width: 250px;
}